{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Lista</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<div class="container">
    <h1>Excluir Tarefa</h1>
    <p>Tem certeza que deseja excluir a tarefa "<strong>{{ object.titulo }}</strong>"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, quero excluir</button>
    </form>
    <a href="{% url 'lista_tarefas' %}">Cancelar</a>
</div>

</body>
</html>
