{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Lista</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<div class="container">
    <h1>Formulário de Tarefa</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_tarefas' %}">Cancelar e Voltar</a>
</div>
</body>
</html>